<div class="col-md-2 control-panel-menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#/control-panel/add-product">Add a product</a></li>
        <li><a href="#/control-panel/change-product">Change a product</a></li>
        <li><a href="#/control-panel/remove-product">Remove a product</a></li>
        <li><a href="#/control-panel/show-all-products">Show all products</a></li>
        <li><a href="#/control-panel/delete-all-products">Delete all products</a></li>
    </ul>
</div>
<div id="form-container" class="col-md-8 control-panel-form">
    
</div>